*.Rproj
.Rproj.user
figure
cache
report-knitr-concordance.tex
report-knitr-tikzDictionary
report-knitr.log
report-knitr.pdf
report-knitr.synctex.gz
report-knitr.tex
documents
*.gz
*.log
*.swp
*.aux
.RData
portfolio-report.pdf
report/portfolio-report.auxlock
report/portfolio-report.fdb_latexmk
data/Europe_Factors.csv
data/Japan_Factors.csv
data/North_America_Factors.csv
.Rhistory
