*.Rproj
.Rproj.user
figure
cache
report-knitr-concordance.tex
report-knitr-tikzDictionary
report-knitr.log
report-knitr.pdf
report-knitr.synctex.gz
report-knitr.tex
documents
*.gz
*.log
*.swp
*.aux
.RData
